<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="bin" >

    <xacro:macro name="bin" params="parent prefix *origin">
		<joint name="${prefix}bin_origin_joint" type="fixed" >
    		<insert_block name="origin" />
    		<parent link="${parent}" />
    		<child link="${prefix}bin_origin" />
		</joint>
		<link name="${prefix}bin_origin"/>
        <!-- mount the tool to the robot -->
        <joint name="${prefix}bin_joint" type="fixed" >
            <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
            <parent link="${prefix}bin_origin" />
            <child link="${prefix}bin" />
        </joint>
        <link name="${prefix}bin">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="2"/>
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://ssm_demo/meshes/bin.stl"/>
                </geometry>
                <material name="greyish">
                    <color rgba="0.6 0.6 0.6 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://ssm_demo/meshes/bin.stl"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>
