<launch>
	<arg name="sim" default="false"/>
    <arg name="urdf_file" default="$(find ssm_demo)/urdf/itr_smartpick_description.urdf.xacro" />

	<include file="$(find denso_robot_moveit_config)/launch/moveit_vs087.launch">
		<arg name="sim" value="$(arg sim)"/>
		<arg name="urdf_file" value="$(arg urdf_file)"/>
	</include>
</launch>
